    
    body{
        display: block;
        background-color: #F5F6F7;
        width: 100%;
        margin: 0;
    }
        canvas{
            border: 5px solid #000;
            margin-top: 0px;
            margin-left: 0px;
            text-align:center;
            cursor:crosshair;
            background-color: #ffffff;
        }
        
        #RED {
            background-color: red;
            width: 30px;
            height: 30px;
            float: left;
            margin-top: 0px;
            margin-left: 30px;
            cursor: pointer;
            border: 2px double rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        #GREEN {
            background-color: green;
            width: 30px;
            height: 30px;
            float: left;
            margin-top: 0px;
            margin-left: 30px;
            cursor: pointer;
            border: 2px double rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        #BLUE {
            background-color: blue;
            width: 30px;
            height: 30px;
            float: left;
            margin-top: 0px;
            margin-left: 30px;
            cursor: pointer;
            border: 2px double rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        #YELLOW {
            background-color: yellow;
            width: 30px;
            height: 30px;
            float: left;
            margin-top: 0px;
            margin-left: 30px;
            cursor: pointer;
            border: 3px double rgba(0, 0, 0, 0.5);
        }
        #ORENGE {
            background-color: orange;
            width: 30px;
            height: 30px;
            float: left;
            margin-top: 0px;
            margin-left: 30px;
            cursor: pointer;
            border: 3px double rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        #PINK {
            background-color: pink;
            width: 30px;
            height: 30px;
            float: left;
            margin-top: 0px;
            margin-left: 30px;
            cursor: pointer;
            border: 3px double rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        #BLACK {
            background-color: rgb(0, 0, 0);
            width: 30px;
            height: 30px;
            float: left;
            margin-top: 0px;
            margin-left: 420px;
            cursor: pointer;
            border: 2px double rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        #GAIN {
            background-color: rgb(220, 220, 220);
            width: 30px;
            height: 30px;
            float: left;
            margin-top: 0px;
            margin-left: 30px;
            cursor: pointer;
            border: 3px double rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        .style1 {
            font-size: large;
            margin-top: 10px;
        }
        #sidebarleft{
            width:300px;
            height:400px;
            text-align:center;
            line-height:10px;
            float:left;
            font-size: 0px;
        }
        #sidebarright{
            width:300px;
            height:400px;
            text-align:center;
            float:right;
            
            font-size: 35px;
        }
        #center{
            margin-left:0px;
            margin-right:0px;
            height:440px;
            text-align:center;
            line-height:10px;
            font-size: 50px;
        }
        #footer{
            margin-top: 150px;
            height:50px;
            text-align:center;
            line-height:10px;
            font-size: 50px;
        }
        .pencil{
            /*background-image:url('pen.png');*/
            width: 50px;
            height: 50px;
            float: left;
            margin-top: 0px;
            margin-left: 250px;
            cursor: pointer;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            text-align: center;
        }
        .pen{
             /*background-image:url('pen.png');*/
             width: 40px;
             height: 40px;
             float: left;
             margin-top: 0px;
             margin-left: 250px;
             cursor: pointer;
             /*border: 1px solid rgba(0, 0, 0, 0.5);*/
             text-align: center;
        }
        .word{
            /*background-color: rgb(139, 139, 139);*/
            width: 0px;
            height: 0px;
            float: left;
            margin-top: 0px;
            margin-left: 0px;
            cursor: pointer;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            text-align: center;
        }
        .rec{
            /*background-image:url('rectan.png');*/
            width: 40px;
            height: 40px;
            float: left;
            margin-top: 25px;
            margin-left: 250px;
            cursor: pointer;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            text-align: center;
        }
        .cir{
            /*background-image:url('circle.png');*/
            width: 40px;
            height: 40px;
            float: left;
            margin-top: 25px;
            margin-left: 250px;
            cursor: pointer;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            text-align: center;
        }
        .ram{
            /*background-image:url('trian.png');*/
            width: 50px;
            height: 50px;
            float: left;
            margin-top: 25px;
            margin-left: 245px;
            cursor: pointer;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            text-align: center;
        }
        .eraser{
            /*background-image:url('eraser.png');*/
            width: 40px;
            height: 40px;
            float: left;
            margin-top: 25px;
            margin-left: 250px;
            cursor: pointer;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            text-align: center;
        }
        .undo{
            /*background-image:url('undo.png');*/
            width: 40px;
            height: 40px;
            margin-top: 0px;
            margin-left: 0px;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            float: left;
            cursor: pointer;
            text-align: center;
        }
        .redo{
            /*background-image:url('redo.png');*/
            width: 40px;
            height: 40px;
            margin-top: 0px;
            margin-left: 0px;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            float: left;
            cursor: pointer;
            text-align: center;
        }
        .Button1 {
            /*background-image:url('reset.png');*/
            width: 40px;
            height: 40px;
            margin-top: 0px;
            margin-left: 0px;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            float: left;
            cursor: pointer;
            text-align: center;
        }
        .Button2{
            background-color: rgb(139, 139, 139);
            width: 69px;
            height: 23px;
            margin-top: 0px;
            margin-left: 100px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            float: left;
            cursor: pointer;
            text-align: center;
        }
        .face{
            width: 40px;
            height: 40px;
            margin-top: 0px;
            margin-left: 0px;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            float: left;
            cursor: pointer;
            text-align: center;
        }
        .download2{
            /*background-color: rgb(114, 74, 74);*/
            width: 40px;
            height: 40px;
            margin-top: 0px;
            margin-left: 0px;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            float: left;
            cursor: pointer;
            text-align: center;
        }
        .rainbow{
            /*background-color: rgb(114, 74, 74);*/
            width: 40px;
            height: 40px;
            margin-top: 20px;
            margin-left: 250px;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            float: left;
            cursor: pointer;
            text-align: center;
        }
        .ctext{
            /*background-color: rgb(139, 139, 139);*/
            /*background-image:url('textt.png');*/
            width: 45px;
            height: 55px;
            margin-top: 25px;
            margin-left: 247px;
            /*border: 1px solid rgba(0, 0, 0, 0.5);*/
            float: left;
            cursor: pointer;
            text-align: center;
        }
        .custom-select{
            margin-top: 10px;
            margin-left: 230px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            float: left;
            cursor: pointer;
            text-align: left;
            padding: 0;
            line-height: 1.7em;
            background: #fff;
            background-image: linear-gradient(#fff,#f5f5f5 49%,#eaeaea 50%, #f2f2f2);
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            text-shadow: 0 1px 1px rgba(255,255,255,0.5);
            box-shadow: 0 1px 3px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,0.7), inset 0 1px 2px rgba(255,255,255,0.5);
        }
        #rangeThickness{
            width: 150px;
            margin: 12px 0px;
            margin-top: 20px;
            margin-left: 180px;
            float: left;
            cursor: pointer;
            text-align: left;
        }
        
        .texting{
            width: 80px;
            height: 20px;
            margin-top: 0px;
            margin-left: 0px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            float: left;
            cursor: pointer;
            text-align: left;
        }

        #BLACK:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        #RED:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        #GREEN:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        #BLUE:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        #YELLOW:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        #ORENGE:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        #PINK:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        #GAIN:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .pencil:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .pen:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .rec:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .cir:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .ram:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .eraser:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .word:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .Button1:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .Button2:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .download2:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .undo:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .redo:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .ctext:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .face:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        .rainbow:hover{
            position: relative;
            top: 1px;
            left: 1px;
        }
        
        #black:active{
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
        }
        #red:active{
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
        }
        #green:active{
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
        }
        #orenge:active{
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
        }
        #blue:active{
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
        }
        #pink:active{
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
        }
        #yellow:active{
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
        }
        #text1{
            font-size: large;
            background-color: rgba(255, 255, 255, 0.74);
        }
        #text2{
            font-size: large;
            background-color: rgba(255, 255, 255, 0.74);
        }
        #text3{
            font-size: large;
            background-color: rgba(255, 255, 255, 0.74);
        }
        #text5{
            font-size: large;
            background-color: rgba(255, 255, 255, 0.74);
        }
        #text10{
            font-size: large;
            background-color: rgba(255, 255, 255, 0.74);
        }
        #text30{
            font-size: large;
            background-color: rgba(255, 255, 255, 0.74);
        }
        #text99{
            font-size: large;
            background-color: rgba(255, 255, 255, 0.74);
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul.word {
            border: #ccc 1px solid;
            display: inline-block;
            font-family: 'Open Sans', Arial, sans-serif;
            font-size: 13px;
        }

        ul.word li {
            position: relative;
            white-space: nowrap;
            border-right: #ccc 1px solid;
        }

        ul.word > li:last-child {
            border-right: none;
        }

        ul.drop-down-menu > li {
            float: left;
        }

        ul.word a {
            background-color: #fff;
            color: #333;
            display: block;
            padding: 0 30px;
            text-decoration: none;
            line-height: 40px;

        }
        ul.word a:hover {
            background-color: #ef5c28;
            color: #fff;
        }
        ul.word li:hover > a {
            background-color: #ef5c28;
            color: #fff;
        }
        ul.drop-down-menu ul {
            border: #ccc 1px solid;
            position: absolute;
            z-index: 99;
            left: -1px;
            top: 100%;
            min-width: 180px;
        }

        ul.word ul li {
            border-bottom: #ccc 1px solid;
        }

        ul.word ul li:last-child {
            border-bottom: none;
        }

        ul.word ul ul {
            z-index: 999;
            top: 10px;
            left: 90%;
        }
        ul.word ul {
            display: none;
        }

        ul.word li:hover > ul {
            display: block;
        }
        #headtext
        {
            position: absolute; top: 100px; left: 450px; z-index: 2;
            font-weight:bold;font-style:italic;text-transform:uppercase;color:#000000;letter-spacing:10pt;
            word-spacing:-10pt;font-size:130px;text-align:left;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:1;
        }
        .test11 {
            position: absolute; left:685px; top: 581px; z-index: 2;
            -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
            box-shadow:inset 0px 1px 0px 0px #ffffff;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
            background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
            background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
            background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
            background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
            background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
            background-color:#ededed;
            -moz-border-radius:6px;
            -webkit-border-radius:6px;
            border-radius:6px;
            border:1px solid #dcdcdc;
            display:inline-block;
            cursor:pointer;
            color:#777777;
            font-family:Arial;
            font-size:15px;
            font-weight:bold;
            padding:6px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #ffffff;
        }
        .test11:hover {
            position: absolute; left:685px; top: 580px; z-index: 2;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
            background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
            background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
            background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
            background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
            background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
            background-color:#dfdfdf;
        }
        .test11:active {
            position: absolute; left:685px; top: 581px; z-index: 2;
        }
        #animal
        {
            position: absolute; width: 100%; height: 100%;
            z-index: 1;
            opacity: 1;
        }